.resName{
    font-family: 'great vibes';
}

.resume{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    /* background: #C9D6FF; 
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF); 
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);  */
    }

hr{
    width: 50%;
    margin-left: 30%;
}